<!-- begin     NAV BAR -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-link" (click)="goToUserIndex(userId)">Cold Calls </a>
    </div>

    <div>
      <ul class="nav navbar-nav">

        <li ><a (click)="goToUser(userId)" class="navbar-link">List of calls<span class="sr-only">(current)</span></a></li>
        <li *ngIf="isLoggedIn">
          <a (click)="logout()" class="navbar-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end     NAV BAR -->
<div class="container">
  <router-outlet></router-outlet>
</div>
