
<label>Company: </label>
<input [(ngModel)]="call.nameCompany">
<label>Agent: </label>
<input [(ngModel)]="call.nameClient">
<br><br>
<label>Location: </label>
<input [(ngModel)]="call.phoneNumber">
<label>Date: </label>
<input [(ngModel)]="call.date">
<label>email: </label>
<input [(ngModel)]="call.email">
<br><br>
<label>Phone: </label>
<input [(ngModel)]="call.description">
<label>Points: </label>
<input [(ngModel)]="call.points">
<br><br>
<label >Description: </label> <br>
<textarea class="form-control edit-description-textarea" [(ngModel)]="call.location"></textarea>
<br><br>
<button class="btn btn-primary" (click)="submitEdit(call)">Submit</button>
<button class="btn btn-danger" (click)="delete(call)">Delete this client</button>
