.link {
  color: #5cb85c;
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}

.teal-panel-heading {
  background-color: teal;
}

th {
  font-size: 120%;
  color: teal;
}

tr,
td {
  font-size: 120%;
}
