
<!-- <app-scoreboard [userKey]='userKey'></app-scoreboard> -->


<div class="col-sm-12">
  <!-- <button (click)="toggleNewCall()" class="btn">
    <span *ngIf="!showNew">+ Add a call</span>
    <span *ngIf="showNew">- Hide</span>
  </button>

</div>
<br>
<div *ngIf="showNew"> -->
  <app-add-call></app-add-call>
</div>


<br><br>
<br>
<hr>

<label>Filter calls by: </label>
<select [(ngModel)]='filter'>
  <option>select</option>
  <option value='location'>Location</option>
  <option value='business'>Business Name</option>
  <option value='client'>Client Name</option>
</select>

<input [(ngModel)]='text'>

<label>Timeframe</label>
<select [(ngModel)]='filterByDate'>
  <option>select</option>
  <option value='on'>On</option>
  <option value='before'>Before</option>
  <option value='after'>After</option>
</select>

<input type='date' [(ngModel)]='selectedDate'>
<label (click)='toggleTableView()'><span class="tableViewIcon">&nbsp;&#8862;</span> Switch View</label>

<br><br>
<div *ngIf="!tableView">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Company</th>
        <th>Agent</th>
        <th>Location</th>
        <th>Number</th>
        <th>E-mail</th>
        <th>Points</th>
      </tr>
    </thead>

    <tbody *ngFor='let call of calls | async | callFilter:filter:text | date:filterByDate:selectedDate'>
      <tr>
        <td (click)="checkDetails(call)" class="clickable">{{call.date}}</td>
        <td (click)="checkDetails(call)" class="clickable">{{call.nameCompany}}</td>
        <td (click)="checkDetails(call)" class="clickable">{{call.nameClient}}</td>
        <td (click)="checkDetails(call)" class="clickable">{{call.location}}</td>
        <td (click)="checkDetails(call)" class="clickable">{{call.phoneNumber}}</td>
        <td (click)="checkDetails(call)" class="clickable">{{call.email}}</td>
        <td (click)="checkDetails(call)" class="clickable">{{call.points}}</td>
        <td><span class='link' *ngIf='editCallForm == null' (click)="toggleEditForm(call)">edit</span>
        <span class='link' *ngIf='editCallForm == call' (click)="toggleEditForm(call)">hide</span></td>
      </tr>
      <p><app-edit-call *ngIf="editCallForm == call" [call]="call"></app-edit-call></p>
    </tbody>
  </table>

</div>

<div *ngFor='let call of calls | async | callFilter:filter:text | date:filterByDate:selectedDate'>

  <div *ngIf="tableView">
    <h3 (click)="checkDetails(call)" class="clickable"> {{call.nameCompany}}</h3>
    <span class="list-tile-points list-tile-indent">{{call.points}}</span>
    <h4 class="list-tile-indent">{{call.nameClient}}</h4>
    <p class="list-tile-indent">{{call.location}}</p>
    <p class="list-tile-indent">{{call.date}}</p>
  </div>



</div>
