
.link {
  color: blue;
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}

.points {
  width: 230px;
  float: left;
  margin-right: 2px;
}

.panel-body {
  text-align: center;
}

#scoreBoard {
  width: 850px;
  height: 120px;
  text-align: center;
  display: block;
  margin: auto;
}

#pointLabel {
  float: right;
}
