<label>Filter calls by: </label>
<select [(ngModel)]='filter'>
  <option></option>
  <option value='location'>Location</option>
  <option value='business'>Business Name</option>
  <option value='client'>Client Name</option>
</select>

<input [(ngModel)]='text'>

<div *ngFor='let call of calls | async | callFilter:filter:text'>
  <h3 (click)="checkDetails(call)" class="clickable"> {{call.nameCompany}}</h3>
  <h4>{{call.nameClient}}</h4>
  <p>
    {{call.location}}
  </p>
  <p>
      {{call.date}}
  </p>

</div>
