<h3>Set up your high goal for the day. You can do it, today is your day, bro!</h3>
<label>
Number of calls you want to do:</label>
<input type="number" min='0' max='50' #goalinput required>
<br>
<label>Set timer in minutes:</label>
<input type="number" min='0' max='120' #timerInput required>
<br>
<!-- <button class="btn" (click)='toggleButton()'> -->
  <button class="btn" *ngIf='!showTimer'(click)="startTimer(goalinput.value, timerInput.value); goalinput.value=''; timerInput.value='';">Start!</button>

  <button class="btn" *ngIf='showTimer' (click)='stopTimer()'>Reset</button>
<!-- </button> -->
<div *ngIf='showTimer'>
  <h2>You must make {{goal}} calls in {{timerSet}} hours/minutes!</h2>
  <h2>Wooooo! time is running!</h2>
  <h2>{{minutes}} minutes: {{seconds}} seconds</h2>
</div>
<br>
<hr>
