/*begin  GLOBAL    STYLING*/

body,
h1,
h2,
h3,
h4 {
  font-family: 'Macondo', cursive;
}

.centerText {
  text-align: center;
}

.btn {
  border-radius: 5px;
  background-color: teal;
}
.btn.btn-danger{
  background-color: red;
}

input,
textarea,
.form-control {
  border-radius: 5px;
}

select {
  color: black;
}

.navbar .navbar-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*end     GLOBAL   STYLING*/


 /*begin    USER LIST    STYLING*/
 .clickable:hover {
  text-decoration: underline;
  cursor: pointer;
 }

 .tableViewIcon {
   font-size: 2em;
 }

 .list-tile-points {
   color: teal;
 }

 .list-tile-indent {
   padding-left: 15px;
 }

 /* end    USER LIST    STYLING*/


  /*begin   DETAIL PAGE   STYLING*/

.detail-identifier-info {
  color: black;
  font-size: 80%;
  padding-left: 30px;
  padding-right: 7px;
}

.detail-panel {
  background-color: teal;
  border-radius: 5px;
}

  /*end   DETAIL PAGE    STYLING*/


  /*begin   EDIT FORM   STYLING*/

.edit-description-textarea {
  width: 80%;
}

  /*end    EDIT FORM    STYLING*/


  /*begin  ADD-CALL COMPONENT    STYLING*/
.displayFlex {
  display: flex;
  justify-content: space-around;
}

.add-new-Description {
  width: 600px;
}

.add-new-Height {
  height: 30px;
}
  /*end    ADD-CALL COMPONENT   STYLING*/


  /*begin      STYLING*/
  /*end       STYLING*/
