<legend>Upcoming events in your calendar
  <div *ngIf='!calendarForm' (click)="toggleButton()" class="btn">
    Add event
  </div>
</legend>
{{todayFormatted}}
<div *ngIf="calendarForm">
    <form class="form-group">
      <label>What?</label>
      <input #what class="form-control">
      <label>And when?</label>
      <input type="date" class="form-control" #when>
      <span *ngIf='calendarForm' (click)="addToCalendar(what.value, when.value); what.value=''; when.value='';" class="btn btn-primary">Save</span>
    </form>
    <hr>
</div>
<br><br>
<div *ngFor="let task of tasks | async | event:filterByToday">
  <h4>{{task.what}}</h4>
  <h4>On this day: {{task.when}}</h4>
  <button (click)="deleteEvent(task)" class="btn btn-danger">Delete event</button>
</div>
<br>
